MODEL_PATH="/app/model"

# Secrets
HF_TOKEN=
TELEGRAM_BOT_TOKEN=

# URLs
GAME_URL="https://verbotinbox.com"
DOMAIN_NAME="verbotinbox.com"

# Prometheus
PROMETHEUS_USER=prom_user
PROMETHEUS_PASSWORD=changeme_in_production
